.split-versus{display:grid; grid-template-columns:repeat(2,1fr); grid-gap:var(--size-4);}



.match-info-header{margin:0 var(--size-3); display:flex; justify-content:space-between;}
.mih-left{display:flex; color:var(--color-default-2);}
.mih-left > div{height:var(--size-5); padding:0 var(--size-3);}
.mih-team{background-color:var(--color-default-3);}
.mih-score{background-color:rgb(var(--bg-3) / 100%); font-weight:bold;}
.mih-time{margin-left:var(--size-1); background-color:var(--color-default-2); color:var(--bg-1); font-weight:bold;}
.mih-right > ul{display:flex; justify-content:flex-end; font-size:12px; line-height:100%;}
.mih-right > ul > li:not(:first-child){margin-left:var(--size-2); padding-left:var(--size-2); border-left:1px solid rgb(var(--color-border) / 21%);}
.mih-compname{font-weight:bold; margin-bottom:var(--size-2); font-size:14px; color:var(--color-default-2);}



.player-scouting-detail, .psd-center-split{display:grid; grid-gap:var(--size-3);}
.player-scouting-detail{--button-color-default:#FFFFFF; --button-color-red:#D53D4E; --button-color-green:#31863E; --button-color-yellow:#FFC75F;}
.psd-box{--button-size:40px; padding:var(--size-3); display:grid; grid-gap:var(--size-1);}
.psd-main{background-color:rgb(var(--bg-3) / 34%); border-radius:var(--rounded-2); margin:var(--size-3) 0;}
.psd-split-line{position:relative; display:flex; align-items:flex-end;}
.psd-sl-box{position:absolute; top:0; left:0; width:100%; height:100%;}
.psd-sl-box > div{width:2px; height:100%; background-color:rgb(var(--color-border) / 34%);}
.psd-row-action{padding:var(--size-2); background-color:rgb(var(--bg-3) / 34%); border-radius:var(--rounded-2);
display:grid; grid-template-columns:repeat(3,1fr); grid-gap:var(--size-1);}
.psd-row-single{grid-template-columns:1fr;}
.psd-row-misc{height:var(--button-size); padding:var(--size-2); box-sizing:content-box; text-transform:uppercase; background-color:var(--bg-1); position:relative; z-index:1000;}
.psd-row-misc img{max-height:100%;}
.psd-row-line{}
.psd-button{height:var(--button-size);}
.psd-info{text-transform:uppercase; text-align:center; font-size:11px; flex-wrap:wrap;}
.psd-button{--button-color:var(--button-color-default); background-color:var(--bg-1); border-radius:var(--rounded-1); fill:var(--button-color); 
font-size:11px; color:var(--button-color); text-transform:uppercase;}
.psd-ball-possession .psd-button{flex-wrap:wrap;}
.psd-button:hover{background-color:var(--button-color); color:var(--bg-1); fill:var(--bg-1);}
.psd-button .svgicon{width:auto; height:18px;}
.psd-button-no, .psd-button-card-red, .psd-button-end{--button-color:var(--button-color-red);}
.psd-button-start, .psd-button-yes{--button-color:var(--button-color-green);}
.psd-button-card-yellow{--button-color:var(--button-color-yellow);}
.psd-ball-stat{width:100%; text-align:center; line-height:100%;}
.psd-button-curr{background-color:var(--color-default-4) !important; color:var(--color-default-2) !important;  fill:var(--color-default-2) !important;}

.psd-box-pass{border:1px solid rgb(var(--color-border) / 21%); border-radius:var(--rounded-2); position:relative; margin-top:var(--size-4);}
.psd-box-pass .psd-box-title{position:absolute; z-index:1000; top:-10px; left:0; width:100%;}
.psd-box-pass .psd-box-title > span{padding:0 var(--size-2); background-color:var(--bg-1);}



.psd-main-head{display:grid; grid-template-columns:repeat(4,1fr); margin-bottom:var(--size-1);}
.psd-main-button{text-align:center; padding-bottom:var(--size-2); border-bottom:2px solid rgb(var(--color-border) / 21%); color:rgb(var(--color-border) / 55%);}
.psd-main-curr{border-bottom-color:rgb(var(--color-border) / 100%); color:rgb(var(--color-border) / 100%) !important;}
.psd-main-content .ptl-profile{grid-template-columns:110px 1fr;}



.competititon-video{position:relative; border-radius:var(--rounded-1); overflow:hidden;}
.competititon-video:before{content:''; display:block; padding-top:56.25%;}
.competititon-video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}



.cps-container{display:grid; grid-template-columns:repeat(auto-fill, minmax(90px,1fr)); grid-gap:var(--size-2);}
.cps-title{margin-top:var(--size-4); font-weight:bold; color:var(--color-default-2); margin-bottom:var(--size-1);}
.cps-box{display:flex; flex-wrap:wrap; justify-content:center; padding:var(--size-2); border-radius:var(--rounded-1); border:1px solid rgb(var(--color-border) / 13%);}
.cps-label{width:100%; text-align:center; text-transform:uppercase; font-size:11px; padding-bottom:var(--size-1);}
.cps-score{padding:0 var(--size-2);}
.cps-score-red{border-right:1px solid rgb(var(--color-border) / 21%); color:var(--button-color-red);}
.cps-score-green{color:var(--button-color-green);}
.cps-score-yellow{color:var(--button-color-yellow);}

.psd-info .cps-box{border:0; padding:0; width:100%; display:none;}
.psd-info .cps-score{padding:0 3px;}
body.menu-min .psd-info .cps-box{display:flex;}



.psd-active .psd-ball-possession .psd-button{background-color:var(--button-color-red); color:var(--color-default-2) !important;}
.psd-deactive .psd-row-action{opacity:0.34;}
.psd-deactive .psd-ball-possession{opacity:1;}




.practice-tutorial-sticky{top:calc(var(--size-7) + var(--size-5));}

.ptl-cmi-title{font-weight:bold; padding-bottom:var(--size-2); color:var(--color-default-2); display:block;}
.ptl-cmi-row{display:grid; grid-gap:var(--size-2); grid-template-columns:110px 1fr; padding:var(--size-2) 0; border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.ptl-cmi-label{position:relative;}
.ptl-cmi-label:after{content:':'; display:flex; align-items:center; position:absolute; top:0; right:0; height:100%;}

.competition-result-timeline .ptl-cmi-row{grid-template-columns:60px 1fr;}



.competition-match-action{display:grid; grid-template-columns:repeat(4,1fr); grid-gap:var(--size-2);}
.ptl-cma-save{background-color:#006FE5 !important;}
.ptl-cma-edit{background-color:#CDA111 !important;}
.ptl-cma-submit{background-color:#007403 !important;}



.match-info{display:grid; grid-template-columns:repeat(2,1fr); grid-gap:var(--size-4);}
.match-info-label{font-weight:bold; margin-bottom:var(--size-2); color:var(--color-default-2);}
.match-info-field{width:100%; background-color:rgba(0,0,0,0.21); padding:var(--size-3); color:var(--color-default-2);
border:1px solid rgb(var(--color-border) / 13%); border-radius:var(--rounded-2);}
.match-info-choice{display:flex;}
.match-info-radiobutton{position:relative; margin-right:var(--size-2);}
.mirb-real{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.mirb-dummy{position:relative; z-index:1; width:84px; height:84px; display:flex; flex-wrap:wrap; align-content:center; color:var(--color-default-1); fill:var(--color-default-1);
border:1px solid rgb(var(--color-border) / 13%); border-radius:var(--rounded-2); transition:var(--transition-default);}
.mirb-dummy > *{width:100%;}
.mirb-icon .svgicon{width:auto; height:24px;}
.mirb-label{text-align:center; margin-top:var(--size-1); font-size:11px;}

.match-info-radiobutton:hover .mirb-dummy{border-color:var(--color-default-2); color:var(--color-default-2); fill:var(--color-default-2);}
.mirb-real:checked + .mirb-dummy{border-color:var(--color-default-3); background-color:var(--color-default-3); color:var(--color-default-2); fill:var(--color-default-2);}



.choose-lineup{max-width:1024px; display:grid; grid-gap:var(--size-5); grid-template-columns:repeat(2,1fr);}
.clc-player-list{display:grid; grid-gap:var(--size-3);}
.clc-frame{position:relative; border:1px solid rgb(var(--color-border) / 13%); border-radius:var(--rounded-1); transition:var(--transition-default);}
.clc-frame:hover{border-color:rgb(var(--color-border) / 55%);}
.clc-player-box{--thumb-size:64px; --circle-size:24px;
padding:var(--size-3); display:grid; grid-gap:var(--size-3); grid-template-columns:var(--thumb-size) var(--circle-size) 1fr;}
.clc-player-thumb, .clc-player-circle, .clc-player-position{border-radius:var(--rounded-1); overflow:hidden; font-size:11px;}
.clc-player-photo{grid-column:1/2; grid-row:1/3;}
.clc-player-thumb{width:var(--thumb-size); height:var(--thumb-size);}
.clc-player-number, .clc-player-info, .clc-player-position, .clc-player-name{display:flex; align-items:center;}
.clc-player-number{grid-column:2/3; grid-row:1/2;}
.clc-player-circle{width:var(--circle-size); height:var(--circle-size); background-color:var(--color-default-3);}
.clc-player-info{grid-column:3/4; grid-row:1/2;}
.clc-player-name{display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden;}
.clc-player-action{grid-column:2/4; grid-row:2/3; display:flex;}
.clc-player-position, .clc-player-name{padding:2px var(--size-1); height:var(--circle-size);}
.clc-player-position{background-color:rgb(var(--color-border) / 13%); margin-right:var(--size-1);}



@media screen and (min-width:1024px){
  .player-scouting-detail{grid-template-columns:1fr 420px 1fr;}
  .menu-min .player-scouting-detail{grid-template-columns:1fr 500px 1fr;}
  .player-scouting-detail > *{grid-row:1/2;}
  .psd-container-left{grid-column:1/2;}
  .psd-container-center{grid-column:2/3;}
  .psd-container-right{grid-column:3/4;}
  
  .psd-center-split{grid-template-columns:repeat(3,1fr); margin-top:var(--size-3);}
  .psd-center-split .psd-box{padding:0;}
}



@media screen and (min-width:1600px){
  .player-scouting-detail{grid-template-columns:1fr 640px 1fr;}
}