.split-versus{display:grid; grid-template-columns:repeat(2,1fr); grid-gap:var(--size-4);}



.section-title-filter{display:flex; font-size:14px; align-items:center; align-content:center; margin-left:auto;}
.stf-box, .stf-box > *{height:100%;}
.stf-box{position:relative; margin-left:var(--size-2);}
.stf-field{position:relative; z-index:1000; padding:0 var(--size-2); padding-right:var(--size-5); background-color:transparent; color:var(--color-default-2);
border:1px solid rgb(var(--color-border) / 55%); border-radius:var(--rounded-1);}
.stf-field option{color:var(--bg-1);}
.stf-box .svgicon{position:absolute; z-index:1; top:9px; right:9px; fill:rgb(var(--color-border) / 55%); width:auto; height:34%;}
button.stf-button{padding:0 var(--size-4); border-radius:var(--rounded-1) !important;}



.player-scouting-detail, .psd-center-split{display:grid; grid-gap:var(--size-3);}
.player-scouting-detail{--button-color-default:#FFFFFF; --button-color-red:#D53D4E; --button-color-green:#31863E; --button-color-yellow:#FFC75F;}
.psd-box{--button-size:40px; padding:var(--size-3); display:grid; grid-gap:var(--size-2);}
.psd-main{background-color:rgb(var(--bg-3) / 34%); border-radius:var(--rounded-2); margin:var(--size-3) 0;}
.psd-center-split{}
.psd-row-action{padding:var(--size-2); background-color:rgb(var(--bg-3) / 34%); border-radius:var(--rounded-2);
display:grid; grid-template-columns:repeat(3,1fr); grid-gap:1px;}
.psd-row-single{grid-template-columns:1fr;}
.psd-row-misc{height:var(--button-size); padding:var(--size-2); box-sizing:content-box; text-transform:uppercase;}
.psd-row-misc img{max-height:100%;}
.psd-button{height:var(--button-size);}
.psd-info{text-transform:uppercase; text-align:center; font-size:11px;}
.psd-button{--button-color:var(--button-color-default); background-color:var(--bg-1); border-radius:var(--rounded-1); fill:var(--button-color); 
font-size:11px; color:var(--button-color); text-transform:uppercase;}
.psd-button:hover{background-color:var(--button-color); color:var(--bg-1); fill:var(--bg-1);}
.psd-button .svgicon{width:auto; height:18px;}
.psd-button-no, .psd-button-card-red, .psd-button-end{--button-color:var(--button-color-red);}
.psd-button-yes{--button-color:var(--button-color-green);}
.psd-button-card-yellow{--button-color:var(--button-color-yellow);}
.psd-button-curr{background-color:var(--color-default-4) !important; color:var(--color-default-2) !important;  fill:var(--color-default-2) !important;}

.psd-box-pass{border:1px solid rgb(var(--color-border) / 21%); border-radius:var(--rounded-2); position:relative; margin-top:var(--size-4);}
.psd-box-pass .psd-box-title{position:absolute; z-index:1000; top:-10px; left:0; width:100%;}
.psd-box-pass .psd-box-title > span{padding:0 var(--size-2); background-color:var(--bg-1);}



.psd-main-head{display:grid; grid-template-columns:repeat(4,1fr); margin-bottom:var(--size-1);}
.psd-main-button{text-align:center; padding-bottom:var(--size-2); border-bottom:2px solid rgb(var(--color-border) / 21%); color:rgb(var(--color-border) / 55%);}
.psd-main-curr{border-bottom-color:rgb(var(--color-border) / 100%); color:rgb(var(--color-border) / 100%) !important;}
.psd-main-content .ptl-profile{grid-template-columns:110px 1fr;}



.competititon-video{position:relative; border-radius:var(--rounded-1); overflow:hidden;}
.competititon-video:before{content:''; display:block; padding-top:56.25%;}
.competititon-video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}



.cps-container{display:grid; grid-template-columns:repeat(auto-fill, minmax(90px,1fr)); grid-gap:var(--size-2);}
.cps-title{margin-top:var(--size-4); font-weight:bold; color:var(--color-default-2); margin-bottom:var(--size-1);}
.cps-box{display:flex; flex-wrap:wrap; justify-content:center; padding:var(--size-2); border-radius:var(--rounded-1); border:1px solid rgb(var(--color-border) / 13%);}
.cps-label{width:100%; text-align:center; text-transform:uppercase; font-size:11px; padding-bottom:var(--size-1);}
.cps-score{padding:0 var(--size-2);}
.cps-score-red{border-right:1px solid rgb(var(--color-border) / 21%); color:var(--button-color-red);}
.cps-score-green{color:var(--button-color-green);}
.cps-score-yellow{color:var(--button-color-yellow);}



@media screen and (min-width:1024px){
  .player-scouting-detail{grid-template-columns:1fr 420px 1fr;}
  .menu-min .player-scouting-detail{grid-template-columns:1fr 500px 1fr;}
  .player-scouting-detail > *{grid-row:1/2;}
  .psd-container-left{grid-column:1/2;}
  .psd-container-center{grid-column:2/3;}
  .psd-container-right{grid-column:3/4;}
  
  .psd-center-split{grid-template-columns:repeat(3,1fr);}
  .psd-center-split .psd-box{padding:0;}
}



@media screen and (min-width:1600px){
  .player-scouting-detail{grid-template-columns:1fr 640px 1fr;}
}