:root, :before, :after{
  --bg-2:#1F1F1F;  
  --bg-3:#21232C;
  --bg-4:#292C3D; 
  --color-border:255 255 255;
  --color-default-1:rgb(255 255 255 / 55%); 
  --color-default-2:#FFFFFF;
  --color-default-3:#B7263D;
  --color-default-4:#760223; 
  --color-default-5:#007FFF;
  --color-default-6:#005EBD;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
}



body, html{color:var(--color-default-1);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-default-2); fill:var(--color-default-2);}
a:hover, button:hover{color:var(--color-default-3); fill:var(--color-default-3);}
.btn, a.btn, button.btn{background-color:var(--color-default-3); border-radius:var(--rounded-3);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-default-4);}
.flex_ori > img{opacity:0; transition:var(--transition-default);}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-default-4);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



header{background-color:var(--color-default-3);}
.header-link:hover{color:var(--bg-1); fill:var(--bg-1);}
.header-logo:hover{filter:invert(1);}



menu:before, .menu-link:before{background-color:#616161;}
menu{background-color:var(--bg-2); border-color:rgb(var(--color-border) / 8%); transition:var(--transition-default);}
.menu-link{color:var(--color-default-1); fill:var(--color-default-1); border-color:rgb(var(--color-border) / 8%);}
.menu-link:before{transition:var(--transition-default);}
.menu-link:hover{color:var(--color-default-2); fill:var(--color-default-2);}
.menu-link:hover:before{background-color:var(--color-default-2);}
.menu-curr{color:var(--color-default-3) !important; fill:var(--color-default-3) !important;}
.menu-curr:before{background-color:var(--color-default-3) !important;}



.video-filter-field{background-color:transparent; background-color:rgba(0,0,0,0.21); border-radius:var(--rounded-2); color:var(--color-default-2);}
.video-filter-field option{color:var(--bg-1);}
.video-filter-dropdown .svgicon{fill:var(--color-default-2);}



footer{display:flex; align-items:center; justify-content:space-between; border-top:1px solid rgb(var(--color-border) / 8%);}
footer > *{padding:var(--size-4);}







@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  
}