:root, :before, :after{
  --bg-2:#1F1F1F;  
  --bg-3:0 0 0;
  --bg-4:#292C3D; 
  --color-border:255 255 255;
  --color-default-1:rgb(255 255 255 / 64%); 
  --color-default-2:#FFFFFF;
  --color-default-3:#B7263D;
  --color-default-4:#760223; 
  --color-default-5:#FF6C75;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
}



body, html{color:var(--color-default-1);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-default-2); fill:var(--color-default-2);}
a:hover, button:hover{color:var(--color-default-3); fill:var(--color-default-3);}
.btn, a.btn, button.btn{background-color:var(--color-default-3); border-radius:var(--rounded-3);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-default-4); color:var(--color-default-2); fill:var(--color-default-2);}
.flex_ori > img{opacity:0; transition:var(--transition-default);}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-default-4);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



header{background-color:var(--color-default-3);}
.header-link:hover{color:var(--bg-1); fill:var(--bg-1);}
.header-logo:hover{filter:invert(1);}
.header-report .button-dummy{border-radius:var(--rounded-3); background-color:var(--color-default-2); 
color:var(--color-default-3); fill:var(--color-default-3); transition:var(--transition-default);}
.header-report:hover .button-dummy{background-color:var(--bg-2);}



menu:before, .menu-link:before{background-color:#616161;}
menu{background-color:var(--bg-2); border-color:rgb(var(--color-border) / 13%); transition:var(--transition-default);}

.side-profile-photoframe{border-radius:50%; overflow:hidden;}

.menu-container, .menu-link{border-color:rgb(var(--color-border) / 13%);}
.menu-link{color:var(--color-default-1); fill:var(--color-default-1);}
.menu-link:before{transition:var(--transition-default);}
.menu-link:hover{color:var(--color-default-2); fill:var(--color-default-2);}
.menu-link:hover:before{background-color:var(--color-default-2);}
.menu-curr{color:var(--color-default-3) !important; fill:var(--color-default-3) !important;}
.menu-curr:before{background-color:var(--color-default-3) !important;}



.section-title{color:var(--color-default-2); fill:var(--color-default-3);}



.breadcrumb{background-color:rgb(var(--color-border) / 8%); border-radius:var(--rounded-3);}



.team-link{border-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-1);}
.team-link:hover{border-color:var(--color-default-3);}



.player-link{background-color:rgb(var(--bg-3) / 100%); border-radius:var(--rounded-1); overflow:hidden;}
.player-photo:after{background:linear-gradient(to bottom, rgb(var(--bg-3) / 0%) 50%, rgb(var(--bg-3) / 100%) 100%);}
.player-position{color:var(--color-default-1);}



.rating-icon .svgicon-star-filled{fill:#DAA21B;}
.rating-icon .svgicon-star-outline{fill:#FFFFFF;}



.pagination{--icon-size:36px; display:flex;}
.pagination-button{margin-right:var(--size-2); margin-top:var(--size-2); width:var(--icon-size); height:var(--icon-size);
color:var(--color-default-2); fill:var(--color-default-2); font-weight:bold; 
border:1px solid rgb(var(--color-border) / 13%); border-radius:var(--rounded-1);}
.pagination-button .svgicon{width:auto; height:var(--default-fontsize);}

a.pagination-button{background-color:var(--color-default-3);}
div.pagination-button{background-color:#000000;}



.rancak-popup, .rancak-popup > *{top:0; right:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:var(--max-zindex);}
.rancak-popup > *{position:absolute;}
.rancak-popup > .rancak-popup-overlay{z-index:1; background-color:rgb(var(--bg-3) / 55%)}
.rancak-popup > .rancak-popup-close{z-index:1000; width:var(--size-6); height:var(--size-6);}
.rancak-popup > .rancak-popup-close .svgicon{width:auto; height:var(--size-5);}
.rancak-popup > .rancak-popup-container{padding:var(--size-6);}
.rancak-popup-box{position:relative; z-index:2000; padding:var(--size-4); max-width:610px;
background-color:var(--bg-4); border-radius:var(--rounded-1);}
.popup-logout-label{text-align:center;}
.popup-logout-action{display:flex; margin-top:var(--size-2);}
.popup-logout-action .btn{margin:var(--size-1); width:144px;}
.popup-logout-yes{background-color:rgb(var(--color-border) / 8%) !important;}



footer{display:flex; align-items:center; justify-content:space-between; border-top:1px solid rgb(var(--color-border) / 13%);}
footer > *{padding:var(--size-4);}







@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .rancak-popup-overlay{-webkit-backdrop-filter:blur(var(--size-2)); backdrop-filter:blur(var(--size-2));}
}