.rancak-container{min-height:100vh;}

.video-cover{position:fixed; z-index:1; top:0; left:0; width:100%; height:100%; opacity:0.55;}
.video-cover video{position:absolute; z-index:2; top:50%; left:50%; min-width:100%; min-height:100%; width:auto; height:auto; 
transform:translateX(-50%) translateY(-50%); filter:blur(1px);}
.video-cover:before, .video-cover:after{content:'';  position:absolute; top:0; left:0; width:100%; height:100%;}
.video-cover:before{z-index:3; background:url("img/fixdot.png");}
.video-cover:after{z-index:4; background:linear-gradient(224deg, rgba(255,255,255,0.21) 0%, rgba(0,0,0,0.21) 89%);}
.video-cover img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}

.top-menu{position:absolute; z-index:1000; top:var(--size-3); right:var(--size-4); display:flex;}
.top-menu .header-link .svgicon{height:24px;}
.top-menu .header-link:hover{fill:var(--color-default-3);}

.pagemenu-container{position:relative; z-index:2000; padding:var(--size-5); width:100%; max-width:987px;}
.pagemenu-logo img{width:auto; height:64px; filter:drop-shadow(0px 2px 1px rgba(0,0,0,0.25));}
.pagemenu-list{display:grid; grid-gap:var(--size-1); grid-template-columns:repeat(auto-fit, minmax(144px,1fr)); margin-top:var(--size-6);}
.pagemenu-link{padding:var(--size-5) var(--size-4); flex-wrap:wrap; background-color:rgb(var(--color-border) / 55%);
align-content:flex-start; align-items:flex-start; box-shadow:0 2px 10px rgb(0 0 0 / 25%); border-radius:2px;}
.pagemenu-link-icon, .pagemenu-link-label{width:100%;}
.pagemenu-link-icon .svgicon{width:auto; height:var(--size-5); filter:drop-shadow(0px 2px 1px rgba(0,0,0,0.25));}
.pagemenu-link-label{text-align:center; text-transform:uppercase; font-weight:bold; margin-top:var(--size-3); font-size:11px;}
.pagemenu-link:hover{background-color:var(--bg-1); color:var(--color-default-2); fill:var(--color-default-2);}
.pagemenu-link-desc{font-weight:normal; font-size:11px; text-align:center; margin-top:var(--size-2); color:var(--color-default-1);}

@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  .pagemenu-link{-webkit-backdrop-filter:blur(var(--size-3)); backdrop-filter:blur(var(--size-3)); background-color:rgb(var(--color-border) / 21%);}
}