.training-container{margin-top:var(--size-4); margin-bottom:var(--size-2); font-weight:bold;}
.training-list{display:grid; grid-gap:var(--size-2); grid-template-columns:repeat(auto-fill, minmax(120px,1fr));}
.training-link{display:flex; flex-wrap:wrap; align-content:space-between; grid-auto-rows:min-content; padding:var(--size-4);
background-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-1);}
.training-link:hover{background-color:var(--color-default-3); color:var(--color-default-2); fill:var(--color-default-2);}
.training-link:hover{border-color:var(--color-default-3);}
.training-link *{text-align:center; text-transform:capitalize;}
.training-link > *{width:100%;}
.training-icon{margin:var(--size-2) 0;}
.training-name{margin-bottom:auto;}
.training-update{font-weight:normal; font-size:12px; color:var(--color-default-1);}
.training-start{margin-top:var(--size-3); padding:var(--size-2) var(--size-3); border:2px solid; width:100%; border-radius:var(--rounded-3);
color:inherit !important; fill:inherit !important;}



.ptl-box{margin-bottom:var(--size-5);}
.ptl-title{font-weight:bold; color:var(--color-default-2); padding-bottom:var(--size-2);}
.ptl-list{padding-left:18px; list-style:square; display:grid; grid-gap:var(--size-2);}
.ptl-rating-list{display:flex; align-items:center; 
padding-bottom:var(--size-2); margin-bottom:var(--size-2); border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.ptl-rating-star{grid-gap:var(--size-1); margin-right:var(--size-3);}
.ptl-rating-star .svgicon{width:var(--size-3);}

.ptl-profile, .ptl-player-info, .ptl-player-row{display:grid;}
.ptl-profile{grid-gap:var(--size-4); grid-template-columns:100px 1fr;}
.ptl-player-info{grid-gap:var(--size-2);}
.ptl-player-row{grid-gap:var(--size-2); grid-template-columns:110px 1fr;
padding-bottom:var(--size-2); border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.ptl-player-label{padding-right:var(--size-2); position:relative;}
.ptl-player-label:after{content:':'; display:block; position:absolute; right:0; top:0;}



.practice-tutorial{display:grid; grid-template-columns:1fr 377px; grid-gap:var(--size-5); max-width:1024px;}
.practice-tutorial-right{display:block;}
.practice-tutorial-process{grid-template-columns:1fr 330px;}
.practice-tutorial-sticky{position:-webkit-sticky; position:sticky; top:var(--size-7);}
.practice-tutorial-video{border-radius:var(--rounded-2); overflow:hidden;}
.practice-tutorial-video:before{padding-top:56.25%;}
.practice-tutorial-video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
.practice-tutorial-action{display:flex; justify-content:flex-end;}



.practice-countdown{display:flex; justify-content:center; padding:var(--size-2); 
border:1px solid rgb(var(--color-border) / 21%); border-radius:var(--rounded-2);}
.practice-countdown > div{padding:var(--size-3); position:relative; font-size:55px; color:var(--color-default-2); font-weight:bold;}
.practice-countdown-minutes:before, .practice-countdown-minutes:after{content:':'; display:block; position:absolute; top:var(--size-2);}
.practice-countdown-minutes:before{left:calc(var(--size-1) * -1);}
.practice-countdown-minutes:after{right:calc(var(--size-1) * -1);}



.pta-button{margin-left:var(--size-3); margin-top:var(--size-3);}
.pta-button-full{width:100%; margin-left:0;}
.pta-button-cancel{background-color:rgb(var(--color-border) / 13%) !important;}
.pta-button-cancel:hover{background-color:rgb(var(--color-border) / 13%) !important;}



.ptl-player-frame{background-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-1);
background:radial-gradient(rgb(var(--color-border) / 0%) 0%, rgb(var(--color-border) / 13%) 100%);}
.ptl-player-frame:before{padding-top:100%;}



.practice-result-rating{margin-bottom:var(--size-4);}
.practice-result-rating .rating-icon{grid-gap:var(--size-4);}



.pri-row{display:grid; grid-template-columns:100px 1fr; grid-gap:var(--size-2); padding-bottom:var(--size-2);}
.pri-label{position:relative;}
.pri-label:after{content:':'; display:block; position:absolute; top:0; right:0;}



.plt-comment-box{padding:var(--size-4); min-height:144px; width:100%; background-color:rgb(var(--color-border) / 5%);
border:1px solid rgb(var(--color-border) / 1%); border-radius:var(--rounded-2); color:var(--color-default-2);
box-shadow:inset -3px -3px 12px rgba(0,0,0,.3), inset 3px 3px 18px rgba(0,0,0,.3);}
.ptl-comment .btn{margin-top:var(--size-2);}



.practice-result-search{--button-width:30px; margin-left:auto; font-size:14px; font-weight:normal; text-transform:none; position:relative;}
.practice-result-search .search-field{border-bottom:1px solid rgb(var(--color-border) / 13%); background-color:transparent; color:var(--color-default-2);
width:233px; height:100%; padding-right:var(--button-width);}
.practice-result-search .search-button{width:var(--button-width); height:100%; display:flex; align-items:center; justify-content:flex-end;
position:absolute; top:0; right:0; z-index:1000;}
.practice-result-search .search-button .svgicon{width:auto; height:14px;}



.report-practice-list{display:grid; grid-gap:var(--size-2); grid-template-columns:repeat(auto-fit, minmax(320px,1fr))}
.rpl-box{--thumb-size:89px; background-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-1); overflow:hidden;
display:grid; grid-template-columns:var(--thumb-size) 1fr;}
.rpl-photo, .rpl-frame{height:100%;}
.rpl-photo{display:flex; align-items:flex-end;}
.rpl-frame{width:var(--thumb-size);}
.rpl-info{padding:var(--size-3);}
.rpl-name{font-size:18px; font-weight:bold; color:var(--color-default-2);}
.rpl-rating{grid-gap:var(--size-1); max-width:89px; margin:var(--size-1) 0;}
.rpl-date{font-size:12px;}



.report-player-practice, .rpp-row{display:grid;}
.rpp-row{grid-template-columns:144px 1fr 1fr 1fr 1fr 1fr 1fr 1fr; border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.rpp-column{padding:var(--size-3); display:flex; flex-wrap:wrap; align-content:center; align-items:center;}
.rpp-column > *{width:100%;}
.rpp-detail{border-left:1px dashed rgb(var(--color-border) / 13%);}
.rpp-detail *{text-align:center;}
.rpp-detail .rpp-time{font-size:18px;}
.rpp-detail .rating-icon{max-width:64px; margin:var(--size-1) auto var(--size-2);}

.rpp-head, .rpp-type{color:var(--color-default-2); background-color:rgb(var(--color-border) / 8%); font-weight:bold;}
.rpp-head .rpp-day{font-size:18px; letter-spacing:1px;}
.rpp-head .rpp-date{font-size:11px;}
.rpp-head .rpp-today{color:var(--color-default-5);}

.report-player-pagination{position:absolute; bottom:-4px; right:0;}


@media screen and (min-width:1180px){
  .practice-tutorial{grid-template-columns:1fr 480px;}
  .practice-tutorial-process{grid-template-columns:1fr 360px;}
  .ptl-profile{grid-template-columns:242px 1fr;}
}