.training-container{margin-top:var(--size-4); margin-bottom:var(--size-2); font-weight:bold;}
.training-list{display:grid; grid-gap:var(--size-2); grid-template-columns:repeat(auto-fill, minmax(120px,1fr));}
.training-link{display:flex; flex-wrap:wrap; align-content:space-between; grid-auto-rows:min-content; padding:var(--size-4);
background-color:rgb(var(--color-border) / 13%); border-radius:var(--rounded-1);}
.training-link:hover{background-color:var(--color-default-3); color:var(--color-default-2); fill:var(--color-default-2);}
.training-link:hover{border-color:var(--color-default-3);}
.training-link *{text-align:center; text-transform:capitalize;}
.training-link > *{width:100%;}
.training-icon{line-height:0; margin:var(--size-2) 0; display:grid; grid-template-columns:repeat(5,1fr); grid-gap:2px;}
.training-icon .svgicon{width:100%; height:auto;}
.training-icon .svgicon-star-filled{fill:#DAA21B;}
.training-name{margin-bottom:auto;}
.training-update{font-weight:normal; font-size:12px; color:var(--color-default-1);}
.training-start{margin-top:var(--size-3); padding:var(--size-2) var(--size-3); border:2px solid; width:100%; border-radius:var(--rounded-3);
color:inherit !important; fill:inherit !important;}