*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1878px;
  --menu-min:55px;
  --menu-max:210px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --bg-1:#212121;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1);}
body{--menu-width:var(--menu-max); padding-top:var(--size-6); padding-left:var(--menu-width); overflow-x:hidden;}
body.body-welcome{padding-top:0 !important; padding-left:0 !important;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



header{--icon-size:21px; position:fixed; z-index:calc(var(--max-zindex) - 3000); top:0; left:0; width:100%; padding-left:var(--menu-width);}
header .width-max{display:flex; justify-content:space-between; max-width:calc(var(--site-container) + (var(--size-4) * 2));}
header .width-max > div{display:flex;}
.header-link{height:var(--size-6); padding:0 var(--size-3);}
.header-link .svgicon{width:auto; height:var(--icon-size);}
.header-left > *:first-child{padding-left:var(--size-4);}
.header-right > *:last-child{padding-right:var(--size-4);}
.header-report .button-dummy{display:flex; align-items:center; padding:var(--size-2) var(--size-4);}
.header-report .button-dummy .svgicon{margin-right:var(--size-1);}



menu:before, .menu-link:before{content:''; display:block; position:absolute; top:0; left:0; width:3px; height:100%;}
menu{--icon-size:18px; position:fixed; z-index:calc(var(--max-zindex) - 2000); top:0; left:0; width:var(--menu-width); height:100vh; 
border-right:1px solid; overflow-y:auto;}
menu::-webkit-scrollbar{width:0px;}

.side-profile{--thumb-size:96px; display:grid; grid-gap:var(--size-2); padding:var(--size-4);}
.side-profile-photoframe{width:var(--thumb-size); height:var(--thumb-size);}
.side-profile-name{text-align:center; font-size:18px;}

.menu-container{border-top:1px dashed;}
.menu-link{position:relative; display:grid; grid-gap:var(--size-3); grid-template-columns:var(--icon-size) 1fr; 
align-items:center; align-content:center; border-bottom:1px dashed;
width:100%; height:var(--menu-min); padding:0 var(--size-5);}
.menu-link-icon .svgicon{width:var(--icon-size); height:auto;}
.menu-link-label{text-transform:capitalize; line-height:130%; justify-content:flex-start;}

.menu-min{--menu-width:var(--menu-min);}
.menu-min .side-profile{--thumb-size:var(--icon-size);}
.menu-min .side-profile-name{display:none;}
.menu-min .menu-link{grid-template-columns:1fr; padding:0;}
.menu-min .menu-link-label{display:none;}



.section-title{display:flex; font-size:21px; text-transform:uppercase; font-weight:bold; margin-bottom:var(--size-4);}
.section-title-icon{display:flex; align-items:center; margin-right:var(--size-3);}
.section-title .svgicon{width:auto; height:24px;}



.rancak-container{position:relative; padding:var(--size-4);}
.rancak-container > .width-max{display:grid; grid-gap:var(--size-5);}



.breadcrumb{display:flex; margin-bottom:calc(var(--size-3) * -1); padding:var(--size-3) var(--size-4);}
.breadcrumb-link{position:relative; padding-right:var(--size-4); margin-right:var(--size-3); line-height:100%; align-items:flex-end;}
.breadcrumb-link:not(:last-child):after{content:''; display:block; position:absolute; top:0; right:0; width:var(--size-4); height:100%;
background:url("../img/icon/right.svg") no-repeat center right; background-size:auto 14px; filter:invert(1);}



.rating-icon{line-height:0; display:grid; grid-template-columns:repeat(5,1fr); grid-gap:2px;}
.rating-icon .svgicon{width:100%; height:auto;}



.team-list, .player-list{display:grid; grid-gap:var(--size-3);}

.team-list{grid-template-columns:repeat(auto-fill, minmax(120px,1fr));}
.team-link{display:grid; grid-gap:var(--size-1); grid-auto-rows:min-content; padding:var(--size-3); border:1px solid;}
.team-icon{width:100%; max-width:var(--size-6);}
.team-icon:before{height:var(--size-6);}
.team-icon img{object-fit:contain; object-position:center;}
.team-name{text-align:center;}

.player-list{grid-template-columns:repeat(auto-fill, minmax(150px,1fr));}
.player-link{display:grid; grid-auto-rows:min-content;}
.player-photo:before{padding-top:100%;}
.player-photo:after{content:''; display:block; position:absolute; z-index:1000; bottom:0; left:0; width:100%; height:100%;}
.player-info{padding:var(--size-2); padding-top:0;}
.player-name, .player-position{text-align:center;}
.player-position{font-weight:normal;}





@media screen and (min-width:0px) and (max-width:1023px){
  body{--menu-width:var(--menu-min);}
  .header-menu, .menu-link-label{display:none !important; visibility:hidden; content-visibility:hidden;}
  .header-logo{padding-left:var(--size-4);}
  .side-profile{--thumb-size:var(--icon-size);}
  .side-profile-name{display:none;}
}