*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1878px;
  --menu-min:55px;
  --menu-max:233px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --bg-1:#212121;
}



body, html{font-family:'Nunito',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh; background-color:var(--bg-1);}
body{--menu-width:var(--menu-min); padding-top:var(--size-6); padding-left:var(--menu-width); overflow-x:hidden;}
body.body-welcome{padding-top:0 !important; padding-left:0 !important;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



header{--icon-size:24px; position:fixed; z-index:calc(var(--max-zindex) - 3000); top:0; left:0; width:100%; padding-left:var(--menu-width);}
header .width-max{display:flex; justify-content:space-between;}
header .width-max > div{display:flex;}
.header-link{height:var(--size-6); padding:0 var(--size-3);}
.header-link .svgicon{width:auto; height:var(--icon-size);}
.header-left > *:first-child{padding-left:var(--size-4);}
.header-right > *:last-child{padding-left:var(--size-4);}



menu{position:fixed; z-index:calc(var(--max-zindex) - 2000); top:0; left:0; width:var(--menu-width); height:100vh; 
border-right:1px solid; overflow-y:auto;}



.rancak-container{position:relative; padding:var(--size-4);}



@media screen and (min-width:1280px){
  body{--menu-width:var(--menu-max);}
}