.videoplayer-list-container{display:grid; grid-gap:var(--size-4); padding-top:var(--size-4);
border-top:1px dashed rgb(var(--color-border) / 34%);}
.vlc-row{--icon-size:21px; display:grid; grid-gap:var(--size-3); grid-template-columns:140px 1fr 260px;
padding-bottom:var(--size-4); border-bottom:1px dashed rgb(var(--color-border) / 34%); font-weight:normal;}

.vlc-thumb-frame{border-radius:var(--rounded-1);}
.vlc-thumb-frame:before{padding-top:56.25%;}
.vlc-thumb-icon{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; transition:var(--transition-default); opacity:0.34;}
.vlc-thumb:hover .vlc-thumb-icon{opacity:1;}

.vlc-info{display:grid; grid-gap:var(--size-1);}
.vlc-info-row{display:grid; grid-template-columns:136px 1fr; grid-gap:var(--size-2);}
.vlc-info-label{position:relative; padding-right:var(--size-1);}
.vlc-info-label:after{content:':'; display:block; position:absolute; top:0; right:0; height:100%;}



.videoplayer-left{display:block;}
.videoplayer-detail{display:grid; grid-template-columns:1fr 330px; grid-gap:var(--size-4);}
.videoplayer-info{color:var(--color-default-2);}
.videoplayer-info .breadcrumb{margin-bottom:var(--size-4);}
.videoplayer-info > .vlc-match, .videoplayer-info > .vlc-info{margin-bottom:var(--size-4); padding-bottom:var(--size-4); 
border-bottom:1px solid rgb(var(--color-border) / 13%);}
.videoplayer-play{position:-webkit-sticky; position:sticky; top:calc(var(--size-6) + var(--size-4)); background-color:#000; 
border-radius:var(--rounded-1); overflow:hidden;}
.videoplayer-play:before{padding-top:56.25%;}
.videoplayer-play iframe{width:100%; position:absolute; top:0; left:0; width:100%; height:100%;}

.vlt-list{display:grid; grid-gap:var(--size-3);}
.vlt-list-row{display:grid; grid-template-columns:60px 1fr; grid-gap:var(--size-2); align-items:flex-start;
padding-bottom:var(--size-3); border-bottom:1px dashed rgb(var(--color-border) / 13%);}
.vlt-list-info{line-height:130%;}
.vlt-list-data b{padding:var(--size-1) var(--size-2); font-size:12px; background-color:rgb(var(--color-border) / 13%);
border-radius:var(--rounded-1); overflow:hidden;}
.vlt-list-player{font-weight:bold; color:var(--color-default-2); margin-bottom:var(--size-1);}




@media screen and (min-width:1180px){
  .table-filter-field{width:250px;}
  .vlc-row{grid-gap:var(--size-4);}
}